body {
    font-family: 'Rubik', 'Roboto', sans-serif!important;
}
#appContent > div > div {
    height: 100%;
}

.signinBtn > div{
    padding-left: 24px !important;
    text-transform: none !important;
}
.signinIcon {
    margin-right: 20px !important;
}
.application.onSignInPage {
    background-image: url('./../assets/bg1.jpg');
    background-size: cover;
}

.text-shadow {
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

/*Remove box shadow if on profile page (for smooth gradients)*/
.toolbarProfile {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

/*Gradients*/
.purple-to-orange {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    -moz-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
}
.orange-to-purple {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    -moz-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    background: #ff6e40;
    background: -webkit-linear-gradient(45deg, #ff6e40 0%, #8e24aa 100%);
    background: linear-gradient(45deg, #ff6e40 0%, #8e24aa 100%);
}
.blue-to-lightblue {
    -webkit-box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
    -moz-box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.red-to-pink {
    -webkit-box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
    -moz-box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
    box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
}
.orange-to-yellow {
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
    -moz-box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
    box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}
.green-to-cyan {
    -webkit-box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
    -moz-box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
    box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}