.application {
    background: url('./../images/bg2.jpg') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif!important;
}
.material-icons {
    font-family: 'Material Icons', sans-serif;
}
.appContent > div > div {
    height: 100%;
}
.appContent{
    height: 100%;
    padding-top: 64px!important;
}

@media only screen and (max-width: 959px){
    .appContent{
        padding-top: 48px!important;
    }
}

.thinText {
    font-weight: lighter;
}

.scale:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.list-tile-explore {
    padding: 0px;
    height: 34px;
}

.card, .stepper, .stepper__header, .expansion-panel {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.application-overlay, .sidebar-overlay {
    width: 100%;
    height: 100%;
}

.background {
    background: url('./../images/bg3.jpg') !important;
    background-size: cover;
    background-position: 50%;
}
.background-small {
    background: url('./../images/bg3-small.jpg') !important;
    background-size: cover;
    background-position: 50%;
}
.navigation-drawer {
    padding: 0;
}
