.application {
    font-family: 'Poppins', sans-serif!important;
}
.material-icons {
    font-family: 'Material Icons', sans-serif;
}

.transparent-background,
.card,
.picker__body,
.time-picker-clock {
    background: rgba(255,255,255,0.2) !important;
}

.explorePicker {
    background: rgba(0,0,0,0.7) !important;
}

.time-picker-clock--indeterminate>span.active {
    background: #1de9b6!important;
}

.noBackground,
.tabs__bar,
.list,
.expansion-panel .expansion-panel__container,
nav
{
    background: none!important;
}

.stepper, .stepper__header, .expansion-panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.list-tile-explore {
    padding: 0px;
    height: 34px;
}

.application-overlay, .sidebar-overlay {
    width: 100%;
    height: 100%;
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, rgba(142, 36, 170, 0.9) 0%, rgba(255, 110, 64, 0.8) 100%);
    background: linear-gradient(45deg, rgba(142, 36, 170, 0.9) 0%, rgba(255, 110, 64, 0.8) 100%);
}
.orange-overlay {
    background: rgba(255, 110, 64, 0.9);
    background: -webkit-linear-gradient(45deg, rgba(228, 114, 109, 0.95) 0%, rgba(255, 110, 64, 0.85) 100%);
    background: linear-gradient(45deg, rgba(228, 114, 109, 0.95) 0%, rgba(255, 110, 64, 0.85) 100%);
}
.background {
    background: url('./../images/bg3.jpg') !important;
    background-size: cover;
    background-position: 50%;
}
.background-small {
    background: url('./../images/bg3-small.jpg') !important;
    background-size: cover;
    background-position: 50%;
}
.navigation-drawer {
    padding: 0;
}