.application {
    font-family: 'Poppins', sans-serif!important;
}
.material-icons {
    font-family: 'Material Icons', sans-serif;
}

.transparent-background,
.card,
.picker__body,
.time-picker-clock {
    background: rgba(255,255,255,0.2) !important;
}

.time-picker-clock--indeterminate>span.active {
    background: #1de9b6!important;
}

.noBackground,
.tabs__bar,
.list,
nav
{
    background: none!important;
}

.stepper, .stepper__header {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
